$block-padding: 5px;
$block-spacing: 5px;

/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

/**
 * Group: All Alignment Settings
 */
 .wp-block[data-type="transact/premium-content"] {

	// Ensure not rendering outside the element
	// as -1px causes overflow-x scrollbars
	.editor-block-list__insertion-point {
		left: 0;
		right: 0;
	}

	.wp-block-transact__inner-container {
		padding: 0 12px;
	}

	// Only applied when background is added to cancel out padding
	> .editor-block-list__block-edit > div > .wp-block-group.has-background > .wp-block-group__inner-container > .editor-inner-blocks {
		margin-top: -#{$block-padding*2 + $block-spacing};
		margin-bottom: -#{$block-padding*2 + $block-spacing};
	}

	// Full Width Blocks
	// specificity required to only target immediate child Blocks of a Group
	> .editor-block-list__block-edit > div > .wp-block-group > .wp-block-group__inner-container > .editor-inner-blocks > .editor-block-list__layout > .wp-block[data-align="full"] {
		margin-left: auto;
		margin-right: auto;
		padding-left: $block-padding*2;
		padding-right: $block-padding*2;
	}

	// Full Width Blocks with a background (ie: has padding)
	> .editor-block-list__block-edit > div > .wp-block-group.has-background > .wp-block-group__inner-container > .editor-inner-blocks > .editor-block-list__layout > .wp-block[data-align="full"] {
		// note: using position `left` causes hoz scrollbars so
		// we opt to use margin instead
		// the 30px matches the hoz padding applied in `theme.scss`
		// added when the Block has a background set
		margin-left: -30px;

		// 60px here is x2 the hoz padding from `theme.scss` added when
		// the Block has a background set
		// note: also duplicated below for full width Groups
		width: calc(100% + 60px);
	}
}

/**
 * Group: Full Width Alignment
 */
.wp-block[data-type="transact/premium-content"][data-align="full"] {

	// First tier of InnerBlocks must act like the container of the standard canvas
	> .editor-block-list__block-edit > div > .wp-block-group > .wp-block-group__inner-container > .editor-inner-blocks {
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;

		> .editor-block-list__layout {
			margin-left: 0;
			margin-right: 0;
		}
	}

	// Full Width Blocks
	// specificity required to only target immediate child Blocks of Group
	> .editor-block-list__block-edit > div > .wp-block-group > .wp-block-group__inner-container > .editor-inner-blocks > .editor-block-list__layout > .wp-block[data-align="full"] {
		padding-right: 0;
		padding-left: 0;
		left: 0;
		width: 100%;
		max-width: none;

		// Allow to be flush with the edges of the canvas
		> .editor-block-list__block-edit {
			margin-left: 0;
			margin-right: 0;
		}
	}

	// Full Width Blocks with a background (ie: has padding)
	// note: also duplicated above for all Group widths
	> .editor-block-list__block-edit > div > .wp-block-group.has-background > .wp-block-group__inner-container > .editor-inner-blocks > .editor-block-list__layout > .wp-block[data-align="full"] {
		width: calc(100% + 60px);
	}
}

// Add padding when the block is selected, for easier interaction.
.block-editor-block-list__layout .block-editor-block-list__block[data-type="transact/premium-content"].has-child-selected > .block-editor-block-list__block-edit > [data-block] > .wp-block-group,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="transact/premium-content"].is-selected > .block-editor-block-list__block-edit > [data-block] > .wp-block-group {

	> .wp-block-group__inner-container > .block-editor-inner-blocks {
		padding: $block-padding;
	}

	&:not(.has-background) > .wp-block-group__inner-container > .block-editor-inner-blocks > .block-editor-block-list__layout {
		margin-top: -$block-padding * 2;
		margin-bottom: -$block-padding * 2;
	}
}

// Place block list appender in the same place content will appear.
[data-type="transact/premium-content"].is-selected {

	.block-list-appender {
		margin-left: 0;
		margin-right: 0;
	}

	.has-background .block-list-appender {
		margin-top: $block-padding;
		margin-bottom: $block-padding;
	}
}
